@model IViewModel
@if(Model.Layout.CultureNavigation.Count > 1)
{
	<ul class="culture-navigation navbar-nav">
		<li class="nav-item dropdown active">
			<a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="culture-selector" title="Select culture.">
				<svg class="icon" role="presentation">
					<use xlink:href="/Style/Icons/sprite.svg#globe"></use>
				</svg>
				@Model.Layout.Culture.NativeName
			</a>
			<div class="dropdown-menu" aria-labelledby="culture-selector">
				@foreach(var item in Model.Layout.CultureNavigation)
				{
					<a class="dropdown-item@(item.Key.Equals(Model.Layout.Culture) ? " active" : string.Empty)" href="@item.Value" title="Select @item.Key.NativeName - @item.Key">@item.Key.NativeName</a>
				}
			</div>
		</li>
	</ul>
}