@model IPageViewModel<SitePage>
<!DOCTYPE html>
<html lang="@Model.Layout.Culture">
	<head>
		@if(IsSectionDefined("HeadContent"))
		{
			@RenderSection("HeadContent")
		}
		else
		{
			if(IsSectionDefined("HeadMeta"))
			{
				@RenderSection("HeadMeta")
			}
			else
			{
				@Html.Partial("~/Views/Shared/Parts/Head/Meta.cshtml")
			}
			if(IsSectionDefined("HeadTitle"))
			{
				@RenderSection("HeadTitle")
			}
			else
			{
				@Html.Partial("~/Views/Shared/Parts/Head/Title.cshtml")
			}
			if(IsSectionDefined("HeadLink"))
			{
				@RenderSection("HeadLink")
			}
			else
			{
				@Html.Partial("~/Views/Shared/Parts/Head/Link.cshtml")
			}
			if(IsSectionDefined("HeadScript"))
			{
				@RenderSection("HeadScript")
			}
			else
			{
				@Html.Partial("~/Views/Shared/Parts/Head/Script.cshtml")
			}
			if(IsSectionDefined("AdditionalHeadContent"))
			{
				@RenderSection("AdditionalHeadContent")
			}
		}
	</head>
	<body class="@Model.Layout.BodyClass@(Model.Layout.Modal != null ? " modal-open" : string.Empty)" id="@Model.Layout.BodyId">
		@if(Model.Layout.Modal != null)
		{
			@Html.Partial("~/Views/Shared/Modal.cshtml", Model.Layout.Modal)
		}
		@if(IsSectionDefined("Header"))
		{
			@RenderSection("Header")
		}
		else
		{
			@Html.Partial("~/Views/Shared/Parts/Header.cshtml")
		}
		@if(IsSectionDefined("Main"))
		{
			@RenderSection("Main")
		}
		else
		{
			<main role="main" class="container">
				<div class="row">
					@{
						var includeRightArea = Model.Layout.IncludeRightArea;
						var includeSubNavigation = !NavigationNodeExtension.IsNullOrEmpty(Model.Layout.SubNavigation);
					}
					@if(includeSubNavigation)
					{
						@Html.Partial("~/Views/Shared/Parts/Navigation/SubNavigation.cshtml")
					}
					<div class="col-md-@(includeRightArea ? includeSubNavigation ? "6" : "9" : includeSubNavigation ? "9" : "12")">
						@Html.Partial("~/Views/Shared/Heading.cshtml", Model.Content, this.ViewData)
						@Html.Partial("~/Views/Shared/Introduction.cshtml", Model.Content as IIntroductionContent, this.ViewData)
						@Html.Partial("~/Views/Shared/MainBody.cshtml", Model.Content as IEditorialContent, this.ViewData)
						@RenderBody()
						@Html.Partial("~/Views/Shared/MainArea.cshtml", Model.Content as IMainAreaContent, this.ViewData)
					</div>
					@if(includeRightArea)
					{
						@Html.Partial("~/Views/Shared/RightArea.cshtml", Model.Content as IRightAreaContent, this.ViewData)
					}
				</div>
			</main><!-- /.container -->
		}
		@if(IsSectionDefined("Footer"))
		{
			@RenderSection("Footer")
		}
		else
		{
			@Html.Partial("~/Views/Shared/Parts/Footer.cshtml")
		}
		@if(Model.Layout.Modal != null)
		{
			@Html.Partial("~/Views/Shared/ModalBackground.cshtml")
		}
		@if(IsSectionDefined("Scripts"))
		{
			@RenderSection("Scripts")
		}
		else
		{
			@Html.Partial("~/Views/Shared/Parts/Scripts.cshtml")
		}
		@if(IsSectionDefined("AdditionalScripts"))
		{
			@RenderSection("AdditionalScripts")
		}
	</body>
</html>