@model IPageViewModel<SitePage>
<!DOCTYPE html>
<html lang="@Model.Layout.Culture">
	<head>
		@if(IsSectionDefined("HeadContent"))
		{
			@RenderSection("HeadContent")
		}
		else
		{
			if(IsSectionDefined("HeadMeta"))
			{
				@RenderSection("HeadMeta")
			}
			else
			{
				@Html.Partial("~/Views/Shared/Parts/Head/Meta.cshtml", Model)
			}
			if(IsSectionDefined("HeadTitle"))
			{
				@RenderSection("HeadTitle")
			}
			else
			{
				@Html.Partial("~/Views/Shared/Parts/Head/Title.cshtml", Model)
			}
			if(IsSectionDefined("HeadLink"))
			{
				@RenderSection("HeadLink")
			}
			else
			{
				@Html.Partial("~/Views/Shared/Parts/Head/Link.cshtml", Model)
			}
			if(IsSectionDefined("HeadScript"))
			{
				@RenderSection("HeadScript")
			}
			else
			{
				@Html.Partial("~/Views/Shared/Parts/Head/Script.cshtml", Model)
			}
			if(IsSectionDefined("AdditionalHeadContent"))
			{
				@RenderSection("AdditionalHeadContent")
			}
		}
	</head>
	<body>
		@if(IsSectionDefined("Header"))
		{
			@RenderSection("Header")
		}
		else
		{
			@Html.Partial("~/Views/Shared/Parts/Header.cshtml", Model)
		}
		@if(IsSectionDefined("Main"))
		{
			@RenderSection("Main")
		}
		else
		{
			<main role="main" class="container">
				<div class="row">
					@if(Model.Layout.SubNavigation.Any())
					{
						@Html.Partial("~/Views/Shared/Parts/Navigation/SubNavigation.cshtml", Model)
						@:<div class="col-md-9">
					}
					else
					{
						@:<div class="col-md-12">
					}
					@Html.Partial("~/Views/Shared/Parts/Heading.cshtml", Model.Content as InformationPage, this.ViewData)
					@Html.Partial("~/Views/Shared/Parts/MainBody.cshtml", Model.Content as InformationPage, this.ViewData)
					@RenderBody()
					@Html.Raw("</div>")
				</div>
			</main><!-- /.container -->
		}
		@if(IsSectionDefined("Footer"))
		{
			@RenderSection("Footer")
		}
		else
		{
			@Html.Partial("~/Views/Shared/Parts/Footer.cshtml", Model)
		}
		@if(IsSectionDefined("Scripts"))
		{
			@RenderSection("Scripts")
		}
		else
		{
			@Html.Partial("~/Views/Shared/Parts/Scripts.cshtml", Model)
		}
		@if(IsSectionDefined("AdditionalScripts"))
		{
			@RenderSection("AdditionalScripts")
		}
	</body>
</html>